<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                          https://maven.apache.org/xsd/settings-1.0.0.xsd">

    <servers>
        <server>
            <id>internal-central-mirror-repository</id>
            <username>srv-jvm-training</username>
            <password>{fRtXtKZYB68H8bPWIKG/VQA+FaVbD7m0lhp+83/uA38=}</password>
        </server>
        <server>
            <id>internal-jcenter-mirror-repository</id>
            <username>srv-jvm-training</username>
            <password>{fRtXtKZYB68H8bPWIKG/VQA+FaVbD7m0lhp+83/uA38=}</password>
        </server>
    </servers>

    <mirrors>
        <mirror>
            <id>internal-central-mirror-repository</id>
            <name>Intranet Corporate Maven Repo Mirror</name>
            <url>https://artifactory.raiffeisen.ru/artifactory/remote-mvn</url>
            <mirrorOf>central</mirrorOf>
        </mirror>
        <mirror>
            <id>internal-jcenter-mirror-repository</id>
            <name>Intranet Corporate Maven Repo Mirror</name>
            <url>https://artifactory.raiffeisen.ru/artifactory/jcenter</url>
            <mirrorOf>jcenter</mirrorOf>
        </mirror>
    </mirrors>
</settings>
