<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                          https://maven.apache.org/xsd/settings-1.0.0.xsd">

    <servers>
        <server>
            <id>internal-mirror-repository</id>
            <username>TODO</username>
            <password>TODO</password>
        </server>
    </servers>

    <mirrors>
        <mirror>
            <id>internal-mirror-repository</id>
            <name>Intranet Corporate Maven Repo Mirror</name>
            <url>https://artifactory.raiffeisen.ru/artifactory/remote-mvn</url>
            <mirrorOf>*</mirrorOf>
        </mirror>
    </mirrors>
</settings>